@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eeeeee;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background: #7000e3;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b31ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #8b31ff;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #262626;
}
textarea::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

textarea::-webkit-scrollbar-thumb {
  background: #7000e3;
  border-radius: 7px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #8b31ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

textarea::-webkit-scrollbar-thumb:active {
  background-color: #8b31ff;
}

textarea::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 7px;
}

textarea::-webkit-scrollbar-track:hover,
textarea::-webkit-scrollbar-track:active {
background: #bababa;
}
